@font-face {
	font-family: 'XProto Nerd Mono';
	src: url('/fonts/xproto.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.prose {
	font-family: 'XProto Nerd Mono', monospace;
}

.social-icons a svg {
    width: 14px;
    height: 14px;
}

/* This might possibly overwrite all hero images */
.hero img {
	@media screen and (max-width: 799px) {
		max-width: 10rem;
	}
}

.justify-center {		
    justify-content: center;
}

/* Dark mode colors. */
:root {
	--sl-font-sans: 'XProto Nerd Mono', sans-serif;
	--sl-font-mono: 'XProto Nerd Mono', monospace;

	--sl-color-accent-low: #312100;
	--sl-color-accent: #2e8555;
	--sl-color-accent-high: #2e8555;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #edeeed;
	--sl-color-gray-2: #c1c2c1;
	--sl-color-gray-3: #8a8c8b;
	--sl-color-gray-4: #575857;
	--sl-color-gray-5: #373837;
	--sl-color-gray-6: #262726;
	--sl-color-black: #181818;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sl-font-sans: 'XProto Nerd Mono', sans-serif;
	--sl-font-mono: 'XProto Nerd Mono', monospace;

	--sl-color-accent-low: #2e8555;
	--sl-color-accent: #2e8555;
	--sl-color-accent-high: #432e00;
	--sl-color-white: #181818;
	--sl-color-gray-1: #262726;
	--sl-color-gray-2: #373837;
	--sl-color-gray-3: #575857;
	--sl-color-gray-4: #8a8c8b;
	--sl-color-gray-5: #c1c2c1;
	--sl-color-gray-6: #edeeed;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
}

.header {
	position: relative;
	z-index: 50;
}

.header .site-title {
	flex-shrink: 0;
	z-index: 10;
}

.header .right-group {
	z-index: 20;
	position: relative;
}

@media (max-width: 50rem) {
	.header {
		padding-right: 3.5rem;
	}

	.right-group {
		position: absolute;
		right: 0.75rem;
		top: 50%;
		transform: translateY(-50%);
	}
}

.starlight-header .site-title {
	margin-right: auto;
}
.starlight-header .menu-toggle {
	margin-left: auto;
}

.right-group {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.right-group .search {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
}

.right-group .search svg {
	width: 1.25rem;
	height: 1.25rem;
}

/* Theme toggle button */
.theme-toggle {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: 2rem;
	border-radius: 9999px;
	background-color: transparent;
	-webkit-tap-highlight-color: transparent;
}
.theme-toggle svg,
.theme-toggle .theme-icon {
	width: 1.25rem;
	height: 1.25rem;
}

.theme-toggle:hover {
	background-color: transparent;
	transform: scale(1.05);
}

