/*Dark mode only*/
:root[data-theme="dark"] {
    --sl-font-sans: "XProto Nerd Mono", monospace;
    --sl-font-mono: "XProto Nerd Mono", monospace;

    /* Core Gruvbox palette */
    --gruv-bg: #1d2021;
    --gruv-bg-soft: #282828;
    --gruv-bg-alt: #32302f;
    --gruv-fg: #ebdbb2;
    --gruv-gray: #a89984;

    --gruv-red: #cc241d;
    --gruv-yellow: #fabd2f;
    --gruv-orange: #fe8019;
    --gruv-green: #b8bb26;
    --gruv-blue: #83a598;
    --gruv-purple: #d3869b;

    --sl-color-text: var(--gruv-fg);
    --sl-color-bg: var(--gruv-bg);
    --sl-color-bg-nav: var(--gruv-bg-soft);
    --sl-color-border: var(--gruv-bg-alt);

    --sl-color-accent: var(--gruv-yellow);
    --sl-color-link: var(--gruv-orange);
    --sl-color-link-hover: #d65d0e;
}

:root[data-theme="dark"] pre,
:root[data-theme="dark"] code {
    background: #282828 !important;
    color: #ebdbb2 !important;
    border: 1px solid #3c3836 !important;
    font-family: "XProto Nerd Mono", monospace !important;
}

:root[data-theme="dark"] .token.function {
    color: var(--gruv-blue) !important;
}
:root[data-theme="dark"] .token.string {
    color: var(--gruv-green) !important;
}
:root[data-theme="dark"] .token.keyword {
    color: var(--gruv-red) !important;
}
:root[data-theme="dark"] .token.number {
    color: var(--gruv-purple) !important;
}
:root[data-theme="dark"] .token.operator {
    color: var(--gruv-yellow) !important;
}

/* Sidebar */
:root[data-theme="dark"] .sidebar-content {
    background: var(--gruv-bg-soft) !important;
    border-right: 1px solid #3c3836 !important;
}
