@layer starlight, rapide, blog;

@import "./badges.css" layer(blog);
@import "./fonts.css" layer(blog);
@import "./fragment-highlight.css" layer(blog);
@import "./headings.css" layer(blog);
@import "./hero.css" layer(blog);
@import "./images.css" layer(blog);
@import "./links.css" layer(blog);
@import "./separators.css" layer(blog);

:root,
[data-theme="dark"] {
  color-scheme: light !important;
}

starlight-theme-select {
  display: none !important;
}

/* Firefox-based Browser List Fix */
@-moz-document url-prefix() {
  .sl-markdown-content :is(ul, ol) li p {
    display: inline !important;
    margin: 0 !important;
  }
  .sl-markdown-content :is(ul, ol) li {
    margin-bottom: 0.5rem !important;
  }
}
