---
---
<footer>
    <p>&copy; 2023-2024 Daniel Pepuho. Made with 💚 using <a href="https://starlight.astro.build/" target="_blank" rel="noopener noreferrer">Astro Starlight</a>.</p>
</footer>

<style>
    footer {
        padding: 5px;
        text-align: center;
    }
</style>
