---
const { length = 100, children } = Astro.props;

const content = String(children);
let truncatedText = content;

if (content.length > length) {
  truncatedText = content.slice(0, length) + '...';
}
---

<p>{truncatedText}</p>