---
const { content, lines = 3 } = Astro.props;

const truncateStyle = {
  display: '-webkit-box',
  WebkitLineClamp: lines,
  WebkitBoxOrient: 'vertical',
  overflow: 'hidden',
  textOverflow: 'ellipsis',
};
---

<p style={truncateStyle}>
  {content}
</p>